<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Développeur web fullstack freelance basé à la Roche-sur-Yon, je réalise sur-mesure vos sites internet afin de valoriser votre entreprise.">
  <meta name="keywords" content="Programmation, web, Data Engineering, Typescript, Adonis">
  <meta name="author" content="Leadcode">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leadcode</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="overflow-x-hidden w-screen bg-gray-50" layout-root>
  <main class="" layout-main>
    @!section('body')
  </main>
</body>
</html>
