<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Passionné d\'art, de mathmétique et d\'informatique, localisé à Montpellier.">
  <meta name="keywords" content="web, engineering, photographer, art">
  <meta name="author" content="NathaelB">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nathael - Connexion</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="overflow-x-hidden w-screen bg-gray-50" layout-root>
  <main class="" layout-main>
    @!section('body')
  </main>
</body>
</html>
